:root {
	// base
	--content-width: 1300px;

	// colors
	--color-primary: #343030;
	--color-white: #fff;
	--color-black: #000;

	// button-colors
	--color-default-btn: #403432;
	--color-hover-btn: #776763;
	--color-disable-btn: #c1b4b1;
	--color-success-btn: #5b3a32;
}
