.footer {
    width: 100%;
    padding: 20px 0;
    background: #ECEAEA;
    position: absolute;
    left: 0;
    bottom: 0;
}

.container {
    display: flex;
    align-items: center;
}

.content {
    padding-top: 98px;
    margin-top: 40px;
}