.btn {
	width: 118px;
	height: 48px;
	border: none;
	background: var(--color-default-btn);
	color: white;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background: var(--color-hover-btn);
	}
	&:disabled {
		background: var(--color-disable-btn);
		cursor: not-allowed;
	}
}

.loader {
	border: 2px solid #f3f3f3; /* Light grey */
	border-top: 2px solid transparent; /* Blue */
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin .6s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}